asgiref==3.8.1
Django==5.2
sqlparse==0.5.3
tzdata==2025.2
python-decouple
pillow
djangorestframework
drf-yasg
# third party modules
markdown
django-filter
djangorestframework-simplejwt
# email third party modules
django-mail-templated
# refactoring and tests
flake8
black
pytest
pytest-django
Faker
# background process and cache
celery
redis
django-redis
# deployment modules
gunicorn