asgiref==3.8.1
Django==5.2
sqlparse==0.5.3
tzdata==2025.2
python-decouple
pillow
djangorestframework
markdown
django-filter
djangorestframework-simplejwt
drf-yasg
django-mail-templated
flake8
black
pytest
pytest-django