<!DOCTYPE html>
<html>
<body>
<h2>List of my posts that published:</h2>
<div>
    {% for post in object_list %}
        <h3><a href={% url "blog:post-detail" pk=post.id %}>{{ post.title }}</a></h3>
        <h5>{{ post.author.first_name }} {{post.author.last_name}}</h5>
        <h5><a href={% url 'blog:post-update' pk=post.id %}>edit post</a></h5>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</body>
</html>